@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

html,
body {
  margin: 0;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}
.slick-dots {
  bottom: 0;
  li {
    margin: 0 5px;
    button {
      background: #fff;
      border: 1px solid #000;
      border-radius: 50%;
      height: 10px;
      width: 10px;
      &:before {
        display: none;
      }
    }
    &.slick-active {
      button {
        background: #000;
      }
    }
  }
}
